*,
*::before,
*::after {
  box-sizing: content-box;
}

body {
  margin: 0;
  background-color: white;
  font-family: sans-serif;
}

h1 {
  text-align: center;
  font-size: 100px;
}

h2{
  text-align: center;
  font-size: 50px;
}

#chapter2{
  background-color:white;
  width:700px;
  height: 450px;
  margin-left: 5%;
  border: 10px solid black;
  border-radius: 5%;
  float: left;
  display: block;
  margin-top: 1cm;
  font-size: 20px;
  padding-left: 20px;
  padding-right: 20px;
  

  
}

#chapter3 {
  float: right;
  margin-right: 25%;
  display: block;
  width: 10cm;
  margin-top: 1cm;
}




h3{
  text-align: center;
  font-size: 30px;
}