*,
*::before,
*::after {
  box-sizing: content-box;
}

body {
  margin: 0;
  background-color: white;
  font-family: sans-serif;
}

h1 {
  text-align: center;
  font-size: 100px;
}

h2{
  text-align: center;
  font-size: 50px;
}

#chapter2{
  transition: all 0.5s ease-in-out;
  background-color:white;
  width:700px;
  height: 450px;
  margin-left: 5%;
  border: 10px solid black;
  border-radius: 10%;
  float: left;
  display: block;
  margin-top: 1cm;
  font-size: 21px;
  padding-left: 20px;
  padding-right: 20px;

}



#chapter3 {
  float: right;
  margin-right: 25%;
  display: block;
  width: 10cm;
  margin-top: 1cm;
  height: 450px;
}

h3{
  text-align: center;
  font-size: 30px;
}
#chapterZ{
  height: 15cm;
  background-color: white;
}

#chapterI{
  background-color: white;
  height: 2cm;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}

#chapter4{
  transition: all 0.5s ease-in-out;
  background-image: url(hintergrund.png);
  float: left;
  margin-left: 5%;
  height: 10cm;
  width: 10cm;
  border-radius: 5%;
  border:solid 10px black
  
}

#chapter5{
  transition: all 0.5s ease-in-out;
  background-image: url(hintergrund.png);
  float: right;
  margin-right: 5%;
  height: 10cm;
  width: 10cm;
  border-radius: 5%;
  border:solid 10px black
  
}

#chapter6{
  transition: all 0.5s ease-in-out;
  background-image: url(hintergrund.png);
  float: right;
  margin-right: 10%;
  height: 10cm;
  width: 10cm;
  border-radius: 5%;
  border:solid 10px black
}

#chapter4:hover{
  transform: scale(1.3);
}
#chapter5:hover{
  transform: scale(1.3);
}
#chapter6:hover{
  transform: scale(1.3);
}
#chapter2:hover{
  transform: scale(1.2);
